#!/usr/bin/env bash

export ZSH="/Users/mattthewong/.oh-my-zsh"
export ZPLUG_HOME=/usr/local/opt/zplug
export PATH="$PATH:~/Downloads/flutter/bin"
export GOPATH=/Users/mattthewong/go
export sl=/Users/mattthewong/go/src/github.com/core
export gh=/Users/mattthewong/go/src/github.com
# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"
export TWILIO_SID="ACbc42629cd260347c86bc038918ccf6df"
export TWILIO_AUTH_TOKEN="f051a6e705ab57d529cda4ab946af260"
